.buttons,
.main .profile {
    display: flex;
    justify-content: center
}

.main .profile {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 80%;
    text-align: center
}

.profile .profile_inner h1 {
    padding: 12px 0
}

.profile img {
    display: inline-table;
/*     border-radius: 50%; */
/*     pointer-events: none */
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform .1s
}

.button-inner {
    padding: 0 8px
}

.button:active {
    transform: scale(.96)
}


.simon-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill: dimgray;
  text-align: center;
  height: 100%;
}

.simon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  fill: black;
  text-align: center;
}

.simon-svg {
  /* for when you inevitably have questions */
  /* https://css-tricks.com/change-color-of-svg-on-hover/ */
  display: inline-block;
  mask-size: cover;
  min-height: 230px;
  min-width: 230px;
  mask-size: cover;
  margin-left: 54px;
  margin-right: 54px;
}

.button-text {
  color: white;
  position: relative;
  top: 95px;
  font-weight: 600;
  font-size: 24px;
  -webkit-text-stroke: 1.5px var(--black);
}

.button-text-1 {
  transform: rotate(-45deg);
}

.button-text-2 {
  transform: rotate(45deg);
}

.button-text-3 {
  transform: rotate(-135deg);
}

.button-text-4 {
  transform: rotate(135deg);
}

/* preload images so they don't flash on active */
.simon-game::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; /* hide images */
   content: url(../../../../simon/simon-says-corner-1-unpressed.svg) url(../../../../simon/simon-says-corner-1-pressed.svg) url(../../../../simon/simon-says-corner-2-unpressed.svg) url(../../../../simon/simon-says-corner-2-pressed.svg) url(../../../../simon/simon-says-corner-3-unpressed.svg) url(../../../../simon/simon-says-corner-3-pressed.svg) url(../../../../simon/simon-says-corner-4-unpressed.svg) url(../../../../simon/simon-says-corner-4-pressed.svg); /* load images */
}

.corner1 {
  background-image: url(../../../../simon/simon-says-corner-1-unpressed.svg);
}

/* :active selector works on mouse down */
.corner1:active {
  background-image: url(../../../../simon/simon-says-corner-1-pressed.svg);
  border-radius: 13%;
}

.corner2 {
  background-image: url(../../../../simon/simon-says-corner-2-unpressed.svg);
}

.corner2:active {
  background-image: url(../../../../simon/simon-says-corner-2-pressed.svg);
  border-radius: 13%;
}

.corner3 {
  background-image: url(../../../../simon/simon-says-corner-3-unpressed.svg);
}

.corner3:active {
  background-image: url(../../../../simon/simon-says-corner-3-pressed.svg);
  border-radius: 13%;
}

.corner4 {
  background-image: url(../../../../simon/simon-says-corner-4-unpressed.svg);
}

.corner4:active {
  background-image: url(../../../../simon/simon-says-corner-4-pressed.svg);
  border-radius: 13%;
}

@media only screen
  and (max-width: 815px) {
    .simon-svg {
      display: none;
    }
}
