<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        

        {{/* Simon Game */}}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            function notePressed(e) {
              // todo: put some cool soundzzz here
              // alert('clicked!');
            };

            const corner1 = document.getElementsByClassName('corner1')[0];
            corner1.addEventListener('click', notePressed, false);
          });
        </script>

        <div class="simon-game">
          <div class="simon-game-row">
            <a href="/blog" draggable="false">
              <span class="simon-svg corner1">
                <p class="button-text button-text-1">Blog</p>
              </span>
            </a>
            <a href="/about" draggable="false">
              <span class="simon-svg corner2">
                <p class="button-text button-text-2">About</p>
              </span>
            </a>
          </div>
          <div class="simon-game-row">
            <h1>{{- .title | default $.Site.Title | markdownify -}}</h1>
            <span>{{- .subtitle | markdownify -}}</span>
          </div>
          <div class="simon-game-row">
            <a href="https://archillect.com/tv" draggable="false" target="_blank">
              <span class="simon-svg corner3">
                <p class="button-text button-text-3">? ? ?</p>
              </span>
            </a>
            <a href="/work" draggable="false">
              <span class="simon-svg corner4">
                <p class="button-text button-text-4">Work</p>
              </span>
            </a>
          </div>
        </div>
        {{/* End Simon Game */}}


        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
